/* Layout */
/* src/styles/globals.css */
.disclaimer-box {
  background-color: #FFF9E6;
  border-left: 4px solid #FFC107;
  padding: 1rem;
  margin: 1.5rem 0;
  border-radius: 0 4px 4px 0;
}

.disclaimer-box h3 {
  color: #E74C3C;
  margin-bottom: 0.5rem;
}

.disclaimer-box p {
  font-size: 0.9rem;
  line-height: 1.5;
}
.home-container {
    display: flex;
    min-height: calc(100vh - 60px); /* Sesuaikan dengan tinggi header */
  }
  
  .form-section {
    flex: 3;
    /* padding: 1rem; */
    margin-top: 1rem;
    
  }
  
  .result-sidebar {
    flex: 1.2;
    padding: 1rem;
    transition: all 0.3s ease;
    margin: 1rem auto;
    margin-left: 1rem;
    background: #F5F7FA;
    border-radius: 8px;
    box-shadow: 4px 8px 4px rgba(0,0,0,0.1);
    border: 1px solid #d2d2d2;
  }
  
  /* Tampilan Default (Belum Prediksi) */
  .result-sidebar.default {
    background: #F5F7FA; /* Warna latar default */
    border-left: 1px solid #eee;
  }
  
  /* Hasil Sehat */
  .result-sidebar.negative {
    background: rgba(80, 227, 194, 0.4); /* Hijau transparan */
  }
  
  /* Hasil Sakit */
  .result-sidebar.positive {
    background: rgba(231, 76, 60, 0.6); /* Merah transparan */
  }
  
  /* Komponen Hasil */
  .welcome-message, .prediction-result {
    padding: 1rem;
  }
  
  .result-status span {
    font-weight: bold;
    margin-left: 0.5rem;
  }
  
  .result-status .positive {
    color: #e81801;
  }
  
  .result-status .negative {
    color: #08b651;
  }
  
  .risk-factors {
    margin-top: 1rem;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .home-container {
      flex-direction: column;
    }
    
    .result-sidebar {
      border-left: none;
      border-top: 1px solid #eee;
    }
  }